<h1><b>Edit student</b></h1>
<div>
	<form ng-submit="editStudent(nameStudentEdit,birthdateStudentEdit,classStudentEdit)">
		Name: <input type="text" name="" ng-model="nameStudentEdit" required>
		Age: <input type="date" name="" ng-model="birthStudentEdit">
		<br>
		Class: {{classStudentEdit}}
		<br>
		Danh Sach Class:
		<select ng-model="classStudentEdit">
			<option ng-repeat="class in ListClass">{{class.prefix}}{{class.name}}</option>
		</select>
		<input type="submit" name="" value="Save">

	</form>
	<br>
	<a href ng-click="moveTabStudent()">Back</a>
</div>