
	<h1><b>Add Student</b></h1>
	<div >
		<!-- submit form add student and them class da chon vao mang selectedClass -->
		<form ng-submit="addStudent(form);addSelectedClass(ListClass.selectedOption)">
			Name: <input type="text" name="" ng-model="form.name" required>
			Age: <input type="date" name="" ng-model="form.age" required>
			<div ng-controller="mdClass">
				Class:
				<select 
				ng-options="option.name group by option.type for option in ListClass.availableOptions"
				ng-model="ListClass.selectedOption"></select>
			</div>
			<input type="submit" name="" value="Add">
			<br>
		</form>
		<button ng-class="{ active: isSet('tabStudent') }"><a href ng-click=" setTab('tabStudent')">Back</a></button>
	</div>


