<h1><b>Add Student</b></h1>

<div>

	<!-- submit form add student and them class da chon vao mang selectedClass -->
	<form ng-submit="addStudent(form);addSelectedClass(DSClass.selectedOption)">
		Name: <input type="text" name="" ng-model="form.name" required>
		Age: <input type="date" name="" ng-model="form.age" required>
		
		<div ng-controller="DSLop">
			Class:
			<select ng-options="option.name group by option.type for option in DSClass.availableOptions"
				ng-model="DSClass.selectedOption">
			</select>
		</div>

		<input type="submit" name="" value="Add">
		<br>

	</form>
	
	<button ng-class="{ active: isSet(1) }"><a href ng-click=" setTab(1)">Back</a></button>

</div>
