<h3 ng-class="{ active: isSet('tabAddClass') }"><a href ng-click="setTab('tabAddClass');click()">Add Class</a></h3>
	<div >
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Khối</th>
					<th>Lớp</th>
					<th colspan="2">Edit or Remove</th>
				</tr>
			</thead>
			<tr ng-repeat="class in ListClass.availableOptions track by $index ">
				<td>{{$index}}</td>
				<td>{{class.type}}</td>
				<td>{{class.name}}</td>
				<td ng-class="{ active: isSet('tabEditClass') }" ><a href ng-click="setTab('tabEditClass');loadFormeditClass(class,$index)">Sua</a></td>
				<td  ><a href ng-click="removeClass(class)">Xoa</a></td>
			</tr>
		</table>
</div>