<div ng-controller="mdClass">
	Name: <input type="text" name="" ng-model="userInput.name">
	Age: <input type="number" name="" ng-model="userInput.age">
	Class:
	<select
	ng-options=" option.name group by option.type for option in ListClass.availableOptions"
	ng-model="ListClass.selectedOption">
</select>
<!-- btn search student -->
<button ng-click="searchObjStudent(searchName,searchAge,ListClass.selectedOption.name,ListClass.availableOptionsClass.type,userInput.birthdate)">Search</button>
<!-- btn load student -->
<button ng-click="loadAllStudent()">Load All Student</button>
</div>
<!-- btn add student -->
<button ng-class="{ active: isSet('tabAddStudent') }"><a href ng-click="setTab('tabAddStudent')" >Add Student</a></button>
<link rel="stylesheet" type="text/css" href="style.css">
<table id="tableID" style="padding: 10px;">
	<thead>
		<tr >
			<th >STT</th>
			<th>Name</th>
			<th>Age</th>
			<th>Class</th>
			<th colspan= "2">Edit or Remove</th>
		</tr>
	</thead>
	<tr dir-paginate="Student in ListStudent | filter :search | filter: {'lop':searchClass } | itemsPerPage:5 ">
		<td>{{Student.id}}</td>
		<td>{{Student.name}}</td>
		<td>{{Student.age}}</td>
		<td>{{Student.lop}}</td>
		<td ng-class="{ active: isSet('tabEdittStudents') }" ><a href ng-click="setTab('tabEdittStudents');loadFormeditStudent(Student)">Sua</a></td>
		<td  ><a href ng-click="removeStudent(Student)">Xoa</a></td>
	</tr>
</table>
<dir-pagination-controls 
max-size="5"
direction-links="true"
boundary-links="true" >
</dir-pagination-controls>